body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url(../img/back.jpg);
    position: fixed;
}
.block
{
  width: 40px;
  height: 40px;
  margin: 5px;
  float: left;
}
.redpawn
{
background: #c61a1a;  
}
.bluepawn
{
background: #2f4f98;
}
.greenpawn
{
background: #2e6921;
}
.yellowpawn
{
background: #fec11a;
}

.red
{
background: transparent;  
}
.blue
{
background: transparent;
}
.green
{
background: transparent;
}
.yellow
{
background: transparent;
}
.other
{
background: transparent;
}
.non
{
background: transparent;
}

.wrapper{
    padding-top: 35px;
}

#content
{
width: 600px;
height: 600px;
margin: auto;
padding-bottom: 50px;
padding-top: 25px;
background-image: url(../img/board.png);
padding-left: 25px;
}

#login
{
margin: 200px auto;
}

label
{
font-family: sans-serif;
font-size: 27px;
padding-left: 30px;
padding-top: 5px;    
}

button
{
margin-left: 30%;
}

input
{
margin-left: 10px;
}

