* {font-family:arial, sans-serif;}

#game {
    float:left;
    width: 500px;
    height: 500px;
    background-color: lightblue;
}
#misc {
    float: left;
    margin-left: 20px;
    width: 100px;
    height: 200px;
    border: 1px solid lightskyblue;
}

ul {
    list-style: none;
    padding-left: 0px;
}