body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url(../img/back.jpg);
    background-size: cover;
    position: fixed;
}
.block
{
  width: 41px;
  height: 41px;
  margin: 5px;
  float: left;
}

#background{
    position: absolute;
    width: 600px;
    height: 600px;
    top: 50%;
    left: 50%;
    margin: -300px 0 0 -320px;
    z-index: -1;
}

.redpawn
{
background: #c61a1a;  
cursor: pointer;
}
.bluepawn
{
background: #2f4f98;
cursor: pointer;
}
.greenpawn
{
background: #2e6921;
cursor: pointer;
}
.yellowpawn
{
background: #fec11a;
cursor: pointer;
}


#content
{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  height: 600px;
  margin: -280px 0 0 -300px;
}

